/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 375px;
  block-size: 100%;
  margin: auto;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 668px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.header__lamp {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
}

.header__lamp::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu {
  margin: 65px 0 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  color: var(--accent-color);
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-block-end: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid #ff007066;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
  margin-bottom: 55px;
}

.header__text {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 40px 10px;
  gap: 50px;
  line-height: 23.4px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
}

.block__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--subtitle-color);
}

.card__text {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}