/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  block-size: 100%;
  margin: auto;
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}

.header__lamp {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
}

.header__lamp::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-inline-end: 1px solid var(--title-block-color);
  border-block-start: 1px solid var(--title-block-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-inline-start: 1px solid var(--title-block-color);
  border-block-end: 1px solid var(--title-block-color);
}

.header__theme-menu {
  margin: 65px 0 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  color: var(--title-block-color);
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-block-end: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-opacity40);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-block-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-block-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-bottom: 55px;
}

.text {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 40px 10px;
  gap: 50px;
  line-height: 23.4px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-third {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-block-color);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: var(--subtitle-color);
}

.card__text {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid currentColor;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__lamp {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin: 172px 0 173px;
  }

  .title {
    font-size: 120px;
    line-height: 99px;
  }

  .header__title {
    margin-left: -20px;
    margin-bottom: 162px;
  }

  .header__text {
    inline-size: 364px;
    align-self: flex-end;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .block {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .block-second {
    grid-template-rows: repeat(2, auto);
  }

  .block-second .cards {
    grid-area: 2 / 1 / 3 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'image1 image1 image2'
      'image3 image4 image2'
      'image3 image5 image5'
      'image3 image5 image5';
    gap: 20px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image:nth-child(1) {
    grid-area: image1;
  }

  .image:nth-child(2) {
    grid-area: image2;
  }

  .image:nth-child(3) {
    grid-area: image3;
  }

  .image:nth-child(4) {
    grid-area: image4;
  }

  .image:nth-child(5) {
    grid-area: image5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin: 0 0 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .title {
    font-size: 157px;
    line-height: 129.53px;
  }

  .header__title {
    margin-bottom: 114px;
    text-shadow: 4px 4px 0 var(--accent-title-shadow);
  }

  .header__text {
    inline-size: 491px;
  }

  .block {
    grid-template-columns: 315px 1fr;
  }

  .block-second .cards {
    flex-direction: row;
  }

  .block-second .card {
    min-inline-size: 315px;
    flex: 1;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-title-shadow);
  }
}
